.grid-top {
    background: purple;
    height: 55vw;
    color: #fff;
}
._container {
    display: block;
    margin: auto;
    padding:0;
    text-align: center;
    width: 100%;
}
._container ion-avatar {
    display: block;
    object-fit: contain;
    object-position: 50% 50%;
    margin: auto;
}
.grid-row {
    display: grid;
    grid-template-columns: 50px auto 50px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
